@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family:'Lato', sans-serif;
  /**background-color: #f8f9fa!important;**/
}

/** Navbar**/

/**Last update section**/

.last-hour h2{
font-size:12px;
}
.last-hour h2 span{
	text-transform: uppercase;
	font-size: 25px;
}

/**RIGHT SLIDE**/
.carousel-sec{
  border: 2px solid red;

  margin: 5px;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa!important;
}

.w-100{
  height:100%;
}

/**REcomadation section ***/
.reco-sec{
}

.reco-title{
	background-color: #2E8B57;
	color:white;;
}

.img-sec{
width:196px;
height:100%;
}